*{
    font-family: Poppins;
}
.bc-banner img{

    opacity: 0.5;
    height:280px;
    width:100%;
 }
 .bc-banner{
     position: relative;
     text-align: center;
     color:#003B7B; 
 }
 .centered {
     font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.formcontainer{
   display:flex;
   justify-content: center;

}
.container{

    box-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    padding: 15px;
    margin-top: 20px;

}